{% extends 'main/layout.html' %}

{% block title %}Степень{% endblock %}

{% block content %}
    <div class="justtext">
        <h1>Степень</h1>
        <p><b>Степенью числа</b> \(a\) с <b>натуральным</b> показателем \(n > 1\) называется произведение \(n\) одинаковых множителей, каждый из которых равен числу \(a\).</p>
        <p><b>Степенью числа</b> \(a\) с <b>отрицательным</b> показателем \(n < 0\) называется дроь, числителем которой является единица, а знаменателем данное число \(a\) с положительным показателем \((-n)\). Пример: \(10^{(-3)}=\dfrac{1}{10^3}.\)</p>
        <h2>Свойства степеней</h2>

        <p>Произведение степеней с одним и тем же показателем равно степени с тем же показателем и основанием, равным произведению оснований.<br>\(a^n\cdot b^n=(ab)^n.\)</p>
        <p>Произведение (частное) степеней с одним и тем же основанием \(–\) это степень с тем же основанием и показателем, равным сумме (разности) показателей этих степеней.<br>\(a^n\cdot a^m=a^{n+m};~a^n:a^m=a^{n-m}.\)</p>
        <p>Степень степени числа равна степени того же числа с показателем, равным произведению показателей этих степеней.<br>\((a^n)^m=a^{n\cdot m}.\)</p>


        <br>
        <a href="{% url 'task' id %}"><button class="btn btn-success" type="submit">Начать решать!</button></a>
    </div>
{% endblock %}