{% extends 'main/layout.html' %}

{% block title %}Рациональная дробь{% endblock %}

{% block content %}
    <div class="justtext">
        <h1>Рациональная дробь</h1>
        <p><b>Рациональная дробь</b> \(-\) это выражение вида \(\dfrac{A}{B}\), где \(A\) и \(B~ -\) многочлены, \(B\ne 0\).</p>
        <p>Например, \(\dfrac{4a-1}{2a^2+15}, ~\dfrac{x^2+7x}{x^2+1} ~-\) рациональные дроби.</p>

        <h2>Действия над рациональными дробями</h2>
        <p>С рациональными дробями выполняются действия аналогичные действиям с обыкновенными дробями: основное свойство, сокращение, сложение и вычитание, умножение и деление. Правила выполнения действий тоже прежние. Так как здесь числитель и знаменатель \(-\) многочлены, то необходимо их раскладывать на множители и верно выполнять действия над многочленами.</p>
        <br>
        <a href="{% url 'task' id %}"><button class="btn btn-success" type="submit">Начать решать!</button></a>
    </div>
{% endblock %}