{% extends 'main/layout.html' %}

{% block title %}Уравнения{% endblock %}

{% block content %}
    <div class="justtext">
        <h1>Уравнения</h1>

        <h2>Решение уравнений первой степени с одним неизвестным</h2>
        <p>Для решения уравнений необходимо уметь:<p>
        <ul>
            <li>а) освобождаться от знаменателя \(-\) записать уравнение в одну строчку;</li>
            <li>б) из уравнения, записанного в строчку, определить нужный параметр.</li>
        </ul>
        <p>1. Решение уравнения вида: \(x=\dfrac{a}{b}\):</p>
        <ul>
            <li>\(x=\dfrac{a}{b} \Rightarrow bx=a\)<br>Перенесем знаменатель в ту часть уравнения, где его нет</li>
        </ul>
        <p>2. Решение уравнения вида: \(\dfrac{a}{b}=\dfrac{c}{x}\)</p>
        <ul>
            <li>\(\dfrac{a}{b}=\dfrac{c}{x} \Rightarrow ax=bc\)<br>Перемножим обе части уравнения крест на крест</li>
        </ul>
        <p>3. Решение уравнения вида: \(ax=bc\)</p>
        <ul>
            <li>\(ax=bc \Rightarrow \dfrac{a}{b}=\dfrac{c}{x}\) <br>Поделим на то, что находится рядом с неизвестным</li>
        </ul>
        <h2>Квадратные уравнения</h2>
        <p>Уравнение вида \(ax^2 + bx + c = 0,\) где \(x -\)переменная, \(a, b, c -\) любые числа, причем \(a > 0\), называется квадратным. <br>Выражение \(D=b^2-4ac\) называется дискриминантом.</p>
        <p>Корни квадратного уравнения находят по формуле: \(x_{1,2}=\dfrac{-b\pm \sqrt{D}}{2a}.\)</p>
        <ul>
            <li>1. \(D > 0;~ x_1=\dfrac{-b+\sqrt{D}}{2a};~ x_2=\dfrac{-b-\sqrt{D}}{2a},\) где \(х_1\) и \(х_2\) действительные различные числа;</li>
            <li>2. \(D = 0\), тогда \(x_1=x_2=-\dfrac{b}{2a};\)</li>
            <li>3. \(D < 0\) уравнение не имеет решений.</li>
        </ul>
        <h2>Неполные квадратные уравнения</h2>
        <p>Дано уравнение \(ax^2 + bx + c = 0\).</p>
        <ul>
            <li>1. Если при \(c = 0,~ ax^2 + bx = 0,\) тогда \(x(ax + b)= 0 \Rightarrow x_1 = 0;~ x_2 = \dfrac{b}{a}.\)</li>
            <li>2. Если при \(b = 0, ~ax^2 + c = 0 \Rightarrow ax^2 = -c \Rightarrow x^2 = -\dfrac{c}{a} \Rightarrow x_{1,2}=\pm\sqrt{-\dfrac{c}{a}},\) решение возможно, если \(\dfrac{c}{a}\le 0\).</li>
        </ul>
        <h2>Система уравнений</h2>
        <p>При решении задач по физике необходимо уметь решать системы двух или большего числа совместных уравнений.</p>
        <p>При решении систем уравнений используются два основных способа:</p>
        <ul>
            <li>а) способ алгебраического сложения;</li>
            <li>б) способ подстановки.</li>
        </ul>
        <p>В физике чаще всего используется способ подстановки, поэтому опишем его.</p>
        <p>Дана система уравнений: \(\begin{equation*}\begin{cases}ax+by=c  \\dx+ey=f \end{cases}\end{equation*}\)</p>
        <p>Из первого уравнения выразим \(y\) через \(x\): \(y = \dfrac{c-ax}{b}\) </p>
        <p>Подставим во второе уравнение: \(dx+e\dfrac{c-ax}{b}=f\)</p>
        <p>Отсюда находим сначала \(x\), а затем \(y\):</p>
        <p>\(x(d-\dfrac{ea}{b})=f-\dfrac{ec}{b} \Rightarrow x = \dfrac{fb-ec}{db-ea},~y=\dfrac{c-ax}{b}=\dfrac{c-a(\dfrac{fb-ec}{db-ea})}{b}=\dfrac{cd-af}{db-ea}.\)</p>
        <a href="{% url 'task' id %}"><button class="btn btn-success" type="submit">Начать решать!</button></a>
    </div>
{% endblock %}