{% extends 'main/layout.html' %}

{% block title %}Функция{% endblock %}

{% block content %}
    <div class="justtext">
        <h1>Функция</h1>
        <p>Переменная величина \(y\) называется функцией переменной \(x\), если каждому значению \(x\) соответствует одно значение \(y\). Функция обозначается \(y=f(x).\)</p>
        <p>Если при изменении одной величины изменится другая, то мы имеем дело с функциональной зависимостью. В физике функциональная зависимость может быть задана формулами, графиками, таблицами.</p>
        <h2>Прямая пропорциональность</h2>
        <p>Если для любой пары соответствующих значений переменных \(x\) и \(y\) отношение \(\dfrac{y}{x}\) равно одному и тому же числу, отличному от нуля, то переменная \(y\) прямо пропорциональна \(x\).</p>
        <p>\(\dfrac{y}{x}=k\) или \(y=kx, \) где \(k~ –\) коэффициент пропорциональности, \(x~-\) арргумент, \(y~-\) значение функции.</p>
        <p>Если \(\dfrac{y_1}{x_1}=k, ~ \dfrac{y_2}{x_2}=k \Rightarrow \dfrac{y_1}{y_2}=\dfrac{x_1}{x_2} \).</p>
        <p>Две величины, зависящие друг от друга так, что при увеличении одной из них другая увеличивается в том же отношении, называются пропорциональными.</p>
        <h2>Линейная функция</h2>
        <p>Линейной функцией называется функция, заданная формулой \(y=kx+c\), где \(x~ -\) аргумент; \(k,~ b~-\) постоянные коэффициенты. Ее график \(-\) прямая. </p>
        <p>Например, дана функция \(y = 2x + 1,\) рассмотрим частные случаи построения графиков этой функции (рис. 1).</p>
        <ul>
            <li>а) Построить график функции \(y = kx \) прямой пропорциональности, который является частным видом уравнения \(y = kx+ b\) при \(b = 0\), т.е. согласно примеру построить график функции \(y = 2x\). <br>Графиком является прямая линия, образующая с осью абсцисс угол \(tg\alpha = k = \dfrac{y}{x}=2\).</li>
            <li>б) Построить график функции \(y = b\), это частный вид уравнения \(y = kx + b\) при \(k = 0\), т.е. построить график функции \(y = 1\). Графиком является прямая линия, параллельная оси абсцисс.</li>
            <li>в) Построить график функции \(y = kx + b\), т.е. согласно примеру \(-\) график функции \(y = 2x + 1\). Графиком является прямая линия, образующая с осью абсцисс угол \(\alpha\).</li>
        </ul>
        {% load static %} <img src="{% static 'topic/img/func_1.PNG'%}" width="800px">

        <h2>Обратная пропорциональность</h2>
        <p>Если для любой пары соответствующих значений переменных \(x\) и \(y\) произведение \(xy\) равно одному и тому же числу, отличному от нуля, то переменная \(y\) обратно пропорциональна переменной \(x\).</p>
        <p>\(k=xy\) или \(y=\dfrac{k}{x}\), где \(k~ –\) коэффициент обратной пропорциональности.</p>
        <p>Если \(x_1y_1=k\) и \(x_2y_2=k, \) то \(x_1y_1=x_2y_2 \Rightarrow \dfrac{x_1}{x_2}=\dfrac{y_2}{y_1}\)</p>
        <p>Две величины, зависящие друг от друга так, что при увеличении одной из них другая в том же отношении уменьшается, называются обратно пропорциональными.</p>
        <p>Например, нужно построить график функции \(y=\dfrac{2}{x}\) (рис. 2). Графиком является равносторонняя гипербола.</p>
        {% load static %} <img src="{% static 'topic/img/func_2.PNG'%}" width="800px">

        <h2>Квадратичная функция</h2>
        <p>Квадратичной функцией называется функция, заданная формулой \(y = ax^2 + bx + c, \) где \(x~ -\) аргумент, \(a,~b,~c~ -\) постоянные, причем \(a \ne 0 \).</p>
        <p>Например, дана функция \(y = 0,5x^2-4х + 6.\) Рассмотрим частные случаи построения графиков этой функции.</p>
        <ul>
            <li>а) В случае, если \(b = b = 0,\) то \(y=ax^2\), т.е. имеем функцию \(y = 0,5x^2\). Графиком является парабола, проходящая через начало координат (рис. 3).</li>
            <li>б) В общем случае \(y = ax^2 + bx + c, \) т.е. имеем функцию \(y = 0,5x^2 -4x + 6.\) Графиком данной функции является такая же парабола, что и парабола \(y = 0,5x^2\) (рис. 4), но вершина параболы будет находиться в точке \(\left( \dfrac{-b}{2a}; c-\dfrac{b^2}{4a} \right).\) Вершина лежит в точке \(O(4; -2).\)</li>
        </ul>
        {% load static %} <img src="{% static 'topic/img/func_3.PNG'%}" width="800px">
        <br><br>
        {% load static %} <img src="{% static 'topic/img/func_4.PNG'%}" width="800px">

        <h2>Тригонометрическая функция</h2>
        <p>Тригонометрическими функциями называются функции, заданные формулами: \(y = \sin x; y = \cos x; y = tg x; y = ctg x. </p>
        <ul>
            <li>а) график функции \(y = \cos x~-\) косинусоида;</li>
        </ul>
            {% load static %} <img src="{% static 'topic/img/func_5_1.PNG'%}" width="700px">
        <ul>
            <li>б) график функции \(y = \sin x~ -\) синусоида.</li>
        </ul>
        {% load static %} <img src="{% static 'topic/img/func_5.PNG'%}" width="700px">
        <br>
        <br>
        <a href="{% url 'task' id %}"><button class="btn btn-success" type="submit">Начать решать!</button></a>
    </div>
{% endblock %}