{% extends 'main/layout.html' %}

{% block title %}Стандартный вид числа{% endblock %}

{% block content %}
    <div class="justtext">
        <h1>Стандартный вид числа</h1>
        <p>При изучении физики чаще всего приходится сталкиваться с величинами (числами), которые либо много больше, либо много меньше единицы. Поэтому при работе с большими и малыми величинами необходимо уметь:</p>
        <ul>
            <li>1) записать любую величину в стандартном виде \(-\) в виде произведения некоторого числа \(a\) (мантиссы) на число десять в соответствующей степени (показатель) \(a\cdot 10^n,\) где \(1 \le a < 10;~n \in \mathbb{Z};\)</li>
            <li>2) переносить запятую любого числа вправо или влево, доводя его до стандартного вида;</li>
            <li>3) производить действия над ними.</li>
        </ul>
        <p>Примеры записи числа в стандартном виде: </p>
        <ul>
            <li>\(0.000043 = 4.3\cdot 10^{-5};\)</li>
            <li>\(8770000 = 8.77\cdot 10^6.\) </li>
        </ul>
        <p>Примеры переноса запятой любого числа, приводя его к стандартному виду: </p>
        <ul>
            <li>\(0.67\cdot 10^{-4} = 6.7\cdot10^{-5};\)</li>
            <li>\(130\cdot 10^2 = 1.3\cdot 10^4.\)</li>
        </ul>
        <a href="{% url 'task' id %}"><button class="btn btn-success" type="submit">Начать решать!</button></a>
    </div>
{% endblock %}