{% extends 'main/layout.html' %}

{% block title %}Вектор{% endblock %}

{% block content %}
    <div class="justtext">
        <h1>Вектор</h1>
        <p>Физические величины могут быть скалярными и векторными:</p>
        <ul>
            <li>Скалярными величинами (скалярами) называются такие величины, которые характеризуются только числовым значением (время \(t\), масса \(m\)).</li>
            <li>Векторными величинами (векторами) называются такие величины, которые характеризуются числовым значением и направлением (скорость \(\vec{v}\), сила \(\vec{F}\)).</li>
        </ul>

        <h2>Сложение векторов</h2>
        <p>Вектора складываются по правилам:</p>
        <ul>
            <li>а) параллелограмма</li>
        </ul>
            {% load static %} <img src="{% static 'topic/img/vec_1.PNG'%}" width="300px">
        <p>\(\vec{c}=\vec{a}+\vec{b}\)</p>
        <ul>
            <li>б) треугольника</li>
        </ul>
        {% load static %} <img src="{% static 'topic/img/vec_2.PNG'%}" width="300px">
        <p>\(\vec{c}=\vec{a}+\vec{b}\)</p>
        <p>Если вектора параллельны (коллинеарны) друг другу, то:</p>
        {% load static %} <img src="{% static 'topic/img/vec_3.PNG'%}" width="400px">

        <h2>Вычитание векторов</h2>
        {% load static %} <img src="{% static 'topic/img/vec_4.PNG'%}" width="300px">
        <p>Если вектора параллельны (коллинеарны) друг другу, то:</p>
        {% load static %} <img src="{% static 'topic/img/vec_5.PNG'%}" width="400px">

        <h2>Умножение вектора на скаляр</h2>
        <p>\(k=3:\)</p>
        {% load static %} <img src="{% static 'topic/img/vec_6.PNG'%}" width="300px">
        <p>\(k=-3:\)</p>
        {% load static %} <img src="{% static 'topic/img/vec_7.PNG'%}" width="300px">
        <p>Математические действия с векторами производятся геометрически.</p>

        <h2>Проекция вектора на ось</h2>
        <p>Проекцией вектора \(\vec{a}\) на ось \(x\) называется отрезок \(a_x\) между проекциями на эту ось начала и конца вектора.</p>
        <p>Если проекция вектора на ось совпадает положительным направлением оси, то она положительна, в противном случае \(–\) отрицательна.</p>
        {% load static %} <img src="{% static 'topic/img/vec_8.PNG'%}" width="400px"><br>
        {% load static %} <img src="{% static 'topic/img/vec_9.PNG'%}" width="400px">
        <p>Если вектор перпендикулярен оси, то его проекция равна \(0\).</p>
        {% load static %} <img src="{% static 'topic/img/vec_10.PNG'%}" width="400px">
        <p>Проекция вектора на ось \(-\) скаляр, поэтому математические действия с проекциями производятся алгебраически.</p>

        <h2>Скалярное произведение</h2>
        <p>Скалярное произведение \(-\) результат операции над двумя векторами, являющийся скаляром, то есть числом, не зависящим от выбора системы координат. Обычно для скалярного произведения векторов \(\vec{a}\) и \(\vec{b}\) используется обозначение \((\vec{a},~\vec{b})\).</p>
        <p><b>Геометрическое определние</b> скалярного произведения:</p>
        <p>\((\vec{a},~\vec{b})=ab\cos{\theta}\), где \(\theta~-\) угол между векторами \(\vec{a}\) и \(\vec{b}\).</p>
        <p><b>Координатное определние</b> скалярного произведения векторов \(\vec{a}=(a_1, a_2)\) и \(\vec{b}=(b_1, b_2)\):</p>
        <p>\((\vec{a},~\vec{b})=a_1b_1+a_2b_2\).</p>

        <br>
        <a href="{% url 'task' id %}"><button class="btn btn-success" type="submit">Начать решать!</button></a>
    </div>
{% endblock %}