{% extends 'main/layout.html' %}

{% block title %}Округление{% endblock %}

{% block content %}
    <div class="justtext">
        <h1>Округление</h1>
        <p>Значащими цифрами числа называются все его цифры, кроме нулей, стоящих левее первой, отличной от нуля цифры, и нулей, стоящих в конце числа, если они взяты взамен неизвестных. </p>
        <h2>Правила округления</h2>
        <ul>
            <li>Если первая отбрасываемая цифра больше четырех, то последняя сохраняемая цифра увеличивается на единицу.<br>Например, при округлении до сотых: \(521.26965 \approx 521.27.\)</li>
            <li>Если же первая отбрасываемая цифра меньше или равна \(4\), то последняя сохраняемая цифра не изменяется.<br>Например, при округлении до сотых: \(65.4236 \approx 65.42\).</li>
        </ul>
        <a href="{% url 'task' id %}"><button class="btn btn-success" type="submit">Начать решать!</button></a>
    </div>
{% endblock %}