{% extends 'main/layout.html' %}

{% block title %}Арифметика{% endblock %}

{% block content %}
    <div class="justtext">
        <h1>Арифметика</h1>
        <h2>Сначала умножение и деление, затем сложение и вычитание</h2>
        <p>В школе дается следующее правило, определяющее порядок выполнения действий в выражениях без скобок:</p>
        <ul>
            <li>действия выполняются по порядку слева направо,</li>
            <li>причем сначала выполняется умножение и деление, а затем \(–\) сложение и вычитание.</li>
        </ul>
        <p>Озвученное правило воспринимается достаточно естественно. Выполнение действий по порядку слева направо объясняется тем, что у нас принято вести записи слева направо. А то, что умножение и деление выполняется перед сложением и вычитанием объясняется смыслом, который в себе несут эти действия.</p>

        <h2>Порядок выполнения арифметических действий в выражениях со скобками</h2>
        <p>Выражения часто содержат скобки, указывающие порядок выполнения действий. В этом случае правило, задающее порядок выполнения действий в выражениях со скобками, формулируется так: сначала выполняются действия в скобках, при этом также по порядку слева направо выполняется умножение и деление, затем – сложение и вычитание.</p>
        <p>Итак, выражения в скобках рассматриваются как составные части исходного выражения, и в них сохраняется уже известный нам порядок выполнения действий.</p>

        <h2>Порядок выполнения действий в выражениях с корнями, степенями, логарифмами и другими функциями</h2>
        <p>Если в выражение входят степени, корни, логарифмы, синус, косинус, тангенс и котангенс, а также другие функции, то их значения вычисляются до выполнения остальных действий, при этом также учитываются правила из предыдущих пунктов, задающие порядок выполнения действий. Иными словами, перечисленные вещи, грубо говоря, можно считать заключенными в скобки, а мы знаем, что сначала выполняются действия в скобках.</p>

        <br>
        <a href="{% url 'task' id %}"><button class="btn btn-success" type="submit">Начать решать!</button></a>
    </div>
{% endblock %}