{% extends 'main/layout.html' %}

{% block title %}Угол{% endblock %}

{% block content %}
    <div class="justtext">
        <h1>Угол</h1>
        <p><b>Плоский угол</b> \(-\) часть плоскости, ограниченная двумя полупрямыми, исходящими из одной точки.</p>
        <h2>Угловые меры</h2>
        <p>Углы выражаются в градусных и угловых мерах.<p>
        <ul>
        <li>а) <b>Градусная мера.</b> Единицей служит градус \((1^\circ)\), т.е. \(\dfrac{1}{90}\) часть прямого угла. В соответствии с этим полная окружность содержит \(360^\circ\).</li>
            <li>б) <b>Дуговая мера.</b> Единицей служит \(1\) радиан (рад) \(-\) центральный угол, длина дуги которого равна радиусу.</li>
        </ul>
        <h2>Переход из градусной меры в радианную и наоборот</h2>
        <br>
        <ul>
            <li>а) Угол \(\alpha\) в радианах равен числу \(0,0175\), умноженному на угол в градусах.<br>\(1^\circ=\dfrac{\pi}{180}~\text{рад}\approx0,0175~\text{рад}.\)<br>Например, угол \(\alpha=20^\circ\), выраженный в радианах, равен \(0,0175\cdot20^\circ = 0,35~ \text{рад}.\)</li>
            <br>
            <li>б) Угол \(\alpha\) в градусах равен числу \(57\), умноженному на угол в радианах.<br>\(1~\text{рад}=\dfrac{180^\circ}{\pi}\approx57^\circ18'45''.\)<br>Например, угол \(\alpha=1,5~\text{рад}\), выраженный в градусах, равен \(57\cdot1,5~ \text{рад} =85,5^\circ.\)</li>
        </ul>
        <br>
        <a href="{% url 'task' id %}"><button class="btn btn-success" type="submit">Начать решать!</button></a>
    </div>
{% endblock %}