{% extends 'main/layout.html' %}

{% block title %}Объем{% endblock %}

{% block content %}
    <div class="justtext">
        <h1>Объем</h1>
        <p>В этом разделе мы рассмотрим площади и объемы необходимых для решения задач по физике геометрических <b>тел</b>.</p>
        <h2>Куб</h2>
        <br>
        {% load static %} <img src="{% static 'topic/img/vol_1.PNG'%}" width="500px">
        <p>Площадь: \(S=6a^2\)</p>
        <p>Объем: \(V=a^3\)</p>

        <h2>Прямоугольный параллелепипед</h2><br>
        {% load static %} <img src="{% static 'topic/img/vol_3.PNG'%}" width="500px">
        <p>Площадь: \(S=2\cdot(ab+bc+ac)\)</p>
        <p>Объем: \(V=abc\)</p>

        <h2>Шар</h2><br>
        {% load static %} <img src="{% static 'topic/img/vol_2.PNG'%}" width="500px">
        <p>Площадь: \(S=4\pi R^2=\pi D^2\)</p>
        <p>Объем: \(V=\dfrac{4}{3}\pi R^3\)</p>

        <br>
        <a href="{% url 'task' id %}"><button class="btn btn-success" type="submit">Начать решать!</button></a>
    </div>
{% endblock %}