{% extends 'main/layout.html' %}

{% block title %}{{ data.title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ data.title }}</h1>
        <p>\(\text{ {{ data.condition }} }\)</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.answer }} <br>
            <input type="hidden" name="my_id" value="{{ problem.id }}" />
            <button class="btn btn-success" type="submit">Следующая задача</button>
        </form>
    </div>
{% endblock %}