{% extends 'main/layout.html' %}

{% block title %}Процент{% endblock %}

{% block content %}
    <div class="justtext">
        <h1>Процент</h1>
        <p><b>Процентом</b> числа называется сотая часть этого числа.</p>
        <h2>Нахождение процента данного числа</h2>
        <p>Чтобы найти процент от числа \(A\), нужно умножить его на число процентов \(p\) и разделить на \(100\), <br>то есть \(\dfrac{A\cdot p}{100}.\)</p>
        <h2>Нахождение числа по данным его процентам</h2>
        <p>Чтобы найти число по данной величине \(a\) его процента \(p\), следует разделить число \(a\) на число процентов \(p\) и умножить на \(100\), то есть \(\dfrac{a}{p}\cdot 100\).
        <h2>Процентное отношение двух чисел</h2>
        <p>При нахождении процентного отношения числа \(a\) к числу \(b\) необходимо вычислить отношение \(\dfrac{a}{b}\) и умножить на \(100\).</p>
        <br>
        <a href="{% url 'task' id %}"><button class="btn btn-success" type="submit">Начать решать!</button></a>
    </div>
{% endblock %}